{% extends 'base.html' %}

{% block content %}

<div class="container m-5">
    {% if participant %}
        <div class ="row d-flex justify-content-center align-items-center my-5">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Email</th>
                        <th>Registration-type</th>
                        <th>No of participants</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for par in participant %}
                        <tr>
                            <td>{{par.id}}</td>
                            <td>{{par.name}}</td>
                            <td>{{par.contact}}</td>
                            <td>{{par.email}}</td>
                            <td>{{par.reg_type}}</td>
                            <td>{{par.nop}}</td>
                        </tr>
                    {% empty %}

                            <h3 style="color:red">There are no participants in your event</h3>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-3 border rounded" style="background:#f8f9fa">
                <form method="post" class="m-4 " action="dashboard-login">
                    {% csrf_token %}
                    <h1 style="font-weight: 400" class="h3 mb-3 font-weight-normal">Dashboard Login</h1>

                    <input  style="margin-bottom: -1px;  padding:10px" type="number" class="form-control" id="eventid" name="eventid" placeholder="Event ID">
                    <input style=" padding:10px" type="password" id="psw" class="form-control" name="psw" placeholder="Password">

                    <button class="btn btn-primary btn-lg btn-block mt-4 col-md-12" type="submit" >Sign in</button>

                </form>
            </div>
        </div>
    {% endif %}

</div>

{% endblock %}